<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="REST.Properties.Settings.RESTConnectionString" connectionString="Data Source=HAVAPP001;Initial Catalog=REST;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>